body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

footer {
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    padding: 0.5rem;
    margin-top: 0rem;
}

input[type = "text"]:focus {
    color: rgb(75, 172, 37);
    outline: 0;
    border-color: inherit;
    box-shadow: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    
}

input[type="checkbox"]:hover {
    appearance: none;
    cursor: pointer;
    background-color: #cec9c9;
}

input[type="checkbox"]:checked {
    background-color: rgb(75, 172, 37);
    border: none;
    outline: none;
    outline-color: none;
}

input[type="checkbox"]:focus {
    color: #495057;
    outline: 0;
    border-color: inherit;
    box-shadow: none;
}



.login-title {
    margin-top: 4rem;
}

.login-title i{
    font-size: 5rem;
    color: white;
}

.login-title h3 {
    font-weight: bold;
    color: white;
}

.mb-4 label {
    color: white;
}

.login-title h2 {
    color: white;
}

.login-box-primary {
    border-radius: 30px;
    background: linear-gradient(to top, #212429, rgb(107, 107, 105));
    width: 25%;
    padding: 1.5vw;
}

.login-box-primary a:hover {
    color: white;
    font-weight: bold;
}

.d-grid button {
    color:white;
    background-color: rgb(75, 172, 37);
}

.d-grid button:hover {
    background-color: rgb(66, 214, 8);
    font-weight: bolder;
    color: white;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.login-link {
    visibility: hidden;
}

.register {
    color: white;
}

.navbar-toggler {
    margin: 0.5rem;
}

.search-bar {
    margin-top: 1rem;
    margin-right: -5rem;
}   

.search-bar-input {
    width: 20em!important;
}

.search-button {
    margin-left: 0.5rem!important;
    background-color: white;
}
.search-button::selection {
    padding: 0.6rem;
    margin-left: -0.3rem;
    margin-top: 1.02rem!important;
    background-color: white;
}

.search-button:hover {
    cursor: pointer;
    background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white;
    border:2px solid rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;  
}

.btn:focus {
    outline:none ;
    box-shadow: none;
}

.footer-link i {
    vertical-align: -0.09em;
}

.footer-link {
    color: gray;
}

.footer-link:hover {
    color: white;
}

.footer-items {
    display: inline-block;
}

.footer-link {
    text-decoration: none;
    margin: 0.5rem;
}

.copy {
    color: gray;
}

.newsletter {
    width: 15rem;
    height: 2.1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.newsletter::-webkit-input-placeholder {
    text-align: center;
    line-height: 2rem;
}

.newsletter-button {
    background-color: rgb(75, 172, 37);
    height: 2.1rem;
    border: none;
    margin-left: 0.1rem;
    margin-top: -0.2rem;
}

.newsletter-text {
    color: gray;
}

.newsletter-button:hover {
    background-color: rgb(66, 214, 8);
    border: none;
}

.newsletter-button:focus {
    background-color: rgb(75, 172, 37);
}

@media screen and (max-width: 980px) {
    .hidden-980 {
        visibility: hidden;
    }

    .login-box-primary {
        width: 35%;
    }
}

@media screen and (max-width: 886px){
    .search-bar-input  {
        width: 75vw!important;
        margin-right: 0px;
    } 
    .search-button {
        display: inline-block;   
    }

    .search-bar{
        margin-right: 0rem;
    }

    .search-bar a {
        visibility: hidden;
    }

    .login-link {
        visibility: visible;
    }

    .footer-items {
        display: inherit;
    }

    .login-box-primary {
        width: 50%;
    }

}

@media screen and (max-width: 500px){
    .login-box-primary {
        width: 80%;
    }
}
