body {
    font-family: 'Source Sans Pro', sans-serif;
}

.btn:focus {
    outline-style: solid;
    border-color: 0.5px gray!important;
}

.btn:hover {
    outline-style: solid;
    border-color: 0.5px gray!important;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-toggler {
    margin: 0.5rem;
}

.search-bar {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}   

.search-bar-input {
    width: 20em!important;
}

.search-button {
    padding: 0.6rem;
    margin-left: -0.3rem;
    margin-top: 1.02rem!important;
    background-color: white;
}

.search-button:hover {
    cursor: pointer;
    background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white;
    border:2px solid rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.search-button:selected {
    outline-color:2px solid rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
  
@media screen and (max-width: 886px){
    .search-bar-input {
        width: 100%!important;
    }   
}
