body {
    font-family: 'Source Sans Pro', sans-serif;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.navbar-toggler {
    margin: 0.5rem;
}

.search-bar {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}   

.search-bar-input {
    width: 20em!important;
}

.search-button {
    margin-left: 0.5rem;
    margin-top: 1rem!important;
}
  
@media screen and (max-width: 886px){
    .search-bar-input {
        width: 100%!important;
    }   
}
